@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: 'Arima', cursive;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
}

#banner {
    background-image: url(img/bg-main.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header ul li {
    display: inline;
    padding: 25px;
}

header ul li a {
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.banner-content {
    background: rgba(255, 255, 255, 0.541);
    width: 50%;
    padding: 8%;
    text-align: center;
    margin: 12% auto 0%;
}

.banner-content a {
    text-decoration: none;
    background: #293B3F;
    padding: 20px 40px;
    color: #fff;
}

.banner-content p {
    font-size: 1rem;
    margin-bottom: 8%;
}

#tradition {
    display: flex;
    background-color: #293B3F;
    padding: 5% 10%;

}

.tradition-content {
    width: 50%;
    height: 40vh;
    color: #fff;
    padding-top: 6%;
    text-align: justify;
    padding-right: 2%;
}

.tradition-img {
    width: 50%;
    background-image: url(img/tr.png);
    height: 40vh;
    background-position: center center;
}

#dots {
    background-color: #D4D8D9;
    display: flex;
    padding: 5% 10%;
    text-align: justify;
}

.dot {
    padding: 2%;
}

.small-img {
    height: 50px;
    width: 50px;
}

#plater {
    background-image: url(img/bg-2.png);
    /* height: 100vh; */
    background-position: center center;
    background-size: cover;
    padding: 5% 10%;
}

.plater-one {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.padd-none {
    margin: 0;
    padding: 0;
}


.plater-one img {
    width: 25%;
}

.plater-content {
    background: rgba(255, 255, 255, 0.541);
    padding: 39px 0;
}

.plater-one h5 {
    color: #293B3F;
}

#cuisin {
    background-image: url(img/s.png);
    background-position: center center;
    background-size: cover;
    background-color: #D4D8D9;
    padding: 8% 10%;

}

.content {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

#booking-form {
    background-image: url(img/bg-3.png);
    background-position: center center;
    background-size: cover;
    background-color: #D4D8D9;
    padding: 8% 10%;
}

#booking-form h1 {
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
}

form {
    background-color: rgba(255, 255, 255, 0.541);
    ;
    padding: 5% 10%;

}

input[type=text],
select {
    width: 60%;
    padding: 12px 20px;
    margin: 0 auto;
    border: 2px solid #293B3F;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    background: transparent;
}

input[type=date] {
    width: 60%;
    padding: 12px 20px;
    margin: 0 auto;
    border: 2px solid #293B3F;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    background: transparent;
}

input[type=submit] {
    width: 60%;
    background-color: #293B3F;
    color: white;
    padding: 14px 20px;
    margin-left: 20%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 3%;
}

input[type=submit]:hover {
    background-color: #293B3F;
}

label {
    margin-left: 21%;
    margin-top: 2%;
    display: block;
    color: #293B3F;
    margin-bottom: 1%;
}

inpu:focus {
    outline: none;
}

footer {
    background-color: #293B3F;
    padding: 5% 10%;
    text-align: center;
    color: #fff;
}